@media  (min-width:768px) {
    
.tft-users{
    display: flex !important;
}
.action-info h3{
    font-size: 15px !important;
}
.action-info p{
    font-size: 13px !important;
}
.actions-details p{
    font-size:12px !important;
}
.c-center-header h2{
    font-size: 20px !important;
}
.c-center-header h2 div{
    display: none !important;
}
.containerAll{
    width:100%;
    height:100vh;
    overflow:hidden;
    display: flex;
    background-color: var(--black-utile-2);
}
.containerLeft{
    width:18rem;
    height:100%;
    background-color: var(--black-utile-2);
    border-right: 2px solid var(--bg-icons);
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    gap:10px;
}
.containerCenter{
    flex:1;
    height: 100%;
    background-color: var(--black-utile-2);
    display: flex;
    flex-direction: column;
    gap:10px;
}
.containerRight.active{
    width:20rem;
    height: 100%;
    border-left: 2px solid var(--bg-icons);
    background-color: var(--black-utile-3);
    animation: floatContainerBas alternate 0.70s ease-in-out;
}
@keyframes floatContainerBas{
    0%{
        transform: translateY(1000px) ;
    }
    100%{
        transform:translateY(0px);
    }
}
.c-left-header{
    padding: 5px;
    display: flex;
    gap:10px;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.app-name{
    -webkit-text-stroke: 1px var(--white);
}
.app-name span{
    -webkit-text-stroke: 1px var(--clr-orange1);
}
.c-left-menu{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    width:100%;
    gap:10px;
}
.c-left-option{
    display: flex;
    gap:10px;
    width: 100%;
    padding: 7px 10px;
    justify-content: start;
    align-items: center;
    border-radius: var(--br-btn);
    transition: all 0.5s ease-in-out
}
.c-left-option:hover{
    background-color: var(--whiteBlur2);
}
.c-left-option .tft-icon-round{
    background-color: var(--black-utile-3);
    border: 1px solid var(--clr-green1);
}
.c-left-option .tft-icon-round i{
    color: var(--clr-green1);
}
.option-name{
    color: var(--icons-white);
    font-size: 15px;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    height: 100%;
}
.user-option{
    display: flex;
    gap:5px;
    padding: 5px;
    justify-content: start;
    align-items: center;
    border-radius: var(--br-btn);
    transition: all 0.5s ease-in-out;
    width: 100%;
}
.user-option:hover{
    background-color: var(--whiteBlur2);
}
.user-option .user-infos .tft-icon-carre-moyen:hover{
    background-color: var(--red-bg-icons) !important;
}
.user-infos{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 2px;
    align-items: center;
}
.user-name{
    display: flex;
    flex-direction: column;
    gap:3px;
}
.c-center-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom:1px solid var(--bg-icons);
}
.header-aside{
    display: flex;
    padding: 2px;
    gap:20px;
    width: 50%;
    justify-content: end;
    align-items: center;
}
.c-center-body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:40px;
    flex: 1;
    overflow-y: auto ;
}
.overview-cards{
    display: flex;
    flex-wrap: wrap;
    gap:45px;
    width: 100%;
    height: fit-content;
    padding: 10px 40px;
    justify-content: start;
    align-items: center;
}
.overview-card{
    display: flex;
    gap:10px;
    height: 100px;
    width:180px;
    justify-content: center;
    align-items: center;
    border-radius: var(--br-btn);
    padding: 0px 10px;
    position: relative;
}
.icon-container{
    background-color: var(--black-utile-2);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-btn);
    position: absolute;
    left: -27px;
    border-radius: 50%;
}
.card-info{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 5px;
    width: fit-content;
    position: absolute;
    left:40px;
}
.overview-container{
    display: flex;
    width: 100%;
    background-color: var(--black-utile-3);
    flex: 1;
    padding: 20px 10px;
    gap:10px;
    justify-content: center;
    align-items: start;
}
.recent-actions{
    width:50%;
    height: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap:35px;
    align-items: center;
    justify-content: center;
}
.recent-intro{
    width: 50%;
    background-color: var(--clr-green1);
    height: 200px;
    border-radius: var(--br-btn);
    display: flex;
    gap:10px;
    justify-content: start;
    align-items: start;
    padding: 30px 10px;
    position: relative;
    box-shadow: var(--boxshadowPopup);
    align-self: center;
}
.recent-intro .recent-pic{
    width: 250px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top:0px;
    display: flex;
}
.recent-pic img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.recent-intro .tft-title1{
    font-size: 25px !important;
    font-weight: 600;
    width: 60%;
}
.recent-intro .tft-title1 span{
    -webkit-text-stroke: 1px var(--white);
}
.recent-pic-fleche{
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top:100px;
    left: 150px;
    transform: rotate(80deg);
}
.recent-pic-fleche img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.single-action{
    background-color: var(--black-utile-2);
    display: flex;
    gap:10px;
    padding: 10px 25px;
    justify-content: start;
    align-items: center;
    position: relative;
    border-radius: var(--br-btn);
    width: 100%;

}
.single-action .tft-icon-round-moyen{
    position: absolute;
    top:-20px;
    left:-20px;
}
.action-info{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: fit-content;
}
.actions-details{
    display: flex;
    width:100%;
    justify-content: space-between;
}
.container_departements{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    width:100%;
    flex:1;
    padding: 20px 30px;
    overflow-y: auto;
}
.departement{
    background-color: var(--black-utile-3);
    border:1px solid var(--bg-icons);
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 30px 10px 15px 10px;
    width:380px;
    height: 300px;
    border-radius: var(--br-btn);
    position: relative;
}
#add-departement{
    justify-content: center;
    align-items: center;
    gap:15px;
    border: 2px dashed var(--clr-green1);
}
#add-departement .tft-icon-round-grand{
    box-shadow: 0px 0px 15px rgba(0, 106, 98,0.5),0px 0px 15px rgba(0, 106, 98,0.7),0px 0px 20px rgba(0, 106, 98,0.8);
}
.departement #creation-date{
    width: fit-content;
    padding: 2px 7px;
    border-radius: 5px 0 5px 0;
    position: absolute;
    left:0;
    top:0;
    color: var(--text-light) !important;
}
.departement-details{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap:10px;
    padding: 10px;
}
.departement-workers{
    display: flex;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.simple-workers{
    padding: 8px 5px;
    border-bottom:1px solid var(--clr-green1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.simple-workers:first-child{
    position: absolute;
    left: 25px;
}
.simple-workers:last-child{
    position: absolute;
    right: 25px;
}
.departement-manager{
    padding: 8px 5px;
    border-bottom:1px solid var(--clr-green1);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 50%;
}
.departement-btns{
    display: flex;
    gap:15px;
    width: 100%;
    justify-content: end;
    align-items: center;
    flex:1;
}
.departement-btns .tft-btn{
    padding: 5px 9px !important;
    align-self: end !important;
    transition: all ease 0.5s;
}
.departement-btns .tft-btn:first-child{
    border: 1px solid var(--clr-green1);
    color:var(--clr-green1);
}
.departement-btns .tft-btn:last-child{
    border: 1px solid var(--clr-crimson);
    color:var(--clr-crimson);
    opacity: 0.9;
}
.departement-btns .tft-btn:first-child:hover{
    background-color: var(--clr-green1);
    color:var(--white);
}
.departement-btns .tft-btn:last-child:hover{
    background-color: var(--clr-crimson);
    color:var(--white);
}
.deconnection-actions{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.deconnection-options{
    display: flex;
    gap:50px;
}
.deconnection-options .tft-btn{
    padding: 6px 15px !important;
}
}