@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Poppins:ital,wght@0,300;0,400;0,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              CONFIG COLOR                                        */
/* ////////////////////////////////////////////////////////////////////////////////// */
:root,[data-theme="light"] {

  /* white and black shades */
  --white:#fff;
  --white-utile-1:rgba(191, 192, 196);
  --white-utile-2:#d0d4e4;
  --white-utile-3:#d3d4d6af;
  --black:#000;
  --black-utile-1:rgb(19, 24, 38);
  --black-utile-2:rgba(18, 21, 27);
  --black-utile-3:rgba(25, 28, 34);

  /* text colors */
  --icons-white:#8a8d93;
  --bg-icons:rgba(37, 38, 44);
  --text-white:#d0d4e4;
  --text-dark:#333333;
  --text-light:#666666;
  --text-muted:#a0a0a0;

  /* Blur colors */
  --whiteBlur:rgba(255,255,255,0.08);
  --whiteBlur2:rgba(255,255,255,0.025);
  --blackBlur:rgba(0,0,0,0.5);

  /* bd and clr combos */
  --orange-bg:#fff8e1;
  --orange-text:#ff9800;
  --green-bg:#e8f5e9;
  --green-text:#4caf50;
  --blue-bg:#e3f2fd;
  --blue-text:#2196f3;
  --yellow-bg:#fff3cd;
  --yellow-text:#ffc107;
  --red-bg:#f8d7da;
	--red-text:#dc3545;
  --yellow-bg-icons:rgba(255, 136, 0, 0.178);
  --yellow-txt-icons: #f4b847;
  --red-bg-icons:#450a0a;
  --red-txt-icons: crimson;
  --blue-bg-icons:rgba(0, 0, 255, 0.272);
  --blue-txt-icons:#006caf;
  --green-bg-icons: #08845f65;
  --green-txt-icons: #00dd7ab5;
  --ColorTransparenceBleu:rgb(124, 181, 255);
  --BgTransparenceBleu:rgb(225, 253, 255);

  /* other colors */
  --clr-crimson: crimson;
  --clr-yellow: rgb(255, 210, 121);
  --clr-yellow1:rgba(230, 170, 68);
  --clr-yellow2:rgba(235, 198, 36);
  --clr-green:rgba(97, 208, 146);
  --clr-green1:rgba(0, 106, 98);
  --clr-green2:#2d9785;
  --clr-green3:#098b71;
  --clr-green4: #0d876f;
  --clr-greenclair: #dbf5e4;
  --clr-blue:rgba(14, 126, 140);
  --clr-white:rgba(218, 234, 234);
  --clr-white1:#BDBDBD;
  --clr-orange1:rgba(253, 140, 92);
  --clr-orange2:rgba(253, 140, 92, 0.345);
  --clr-black:#1e1e1e;
  --clr-black1:rgba(38, 57, 64);
  --clr-black2:rgba(56, 74, 84);
  --clr-black3: #4b516b;
  --clr-black4:#7c7c7c;
  --clr-bdr-black: rgba(0, 0, 0, 0.042);
  --flamingo: #f25b37;
  --tumbleweed: #dd9883;
  --woodsmoke: #171a20;
  --eucalyptus: #27775d;
  --flax: #e9d977;
  --old-copper: #6e412c;
  --mountain-meadow: #1ccc90;
  --red-orange: #ff4f27;

  /* !!!!!! */
  --mobilViewPortHeight:-webkit-fill-available;
  --colorImage: invert(100%) brightness(1000%);
  --colorImageInverse: brightness(0%) contrast(100%) saturate(0%);
  --color-messageBg: linear-gradient(135deg, #f9f3d9, #f1efeb, #FFFFFF);
  --color-linear-white: linear-gradient(90deg, var(--white-utile-1) 25%, var(--color-blanche-2) 50%, var(--white-utile-1) 75%);

  /* boxshadow */
  --boxshadow_section_blanche: 0px .6px 2px rgba(21, 21, 21, 0.500);
  --boxshadow_section_blanche-other: 0px .6px 2px rgba(21, 21, 21, 0.500);
  --boxshadowPopup: 0px 10px 15px rgba(20, 20, 20, 0.155), 0px 0px 2px rgba(16, 16, 16, 0.05), 10px 10px 15px rgba(16, 16, 16, 0.05), 0px 0px 2px rgba(16, 16, 16, 0.05);

  /* LES MESURES DE L'INTERFACE */
  --padding_boutons: 10px 12px;
  --padding_height: 0 10px;
  --border-radius_cercle: 50%;
  --br-btn: 5px;
  --border-radius-999:999px;
  --border-radius-boutons:5px;
  --color-border-radius-arond: 30px;
  --mesure-center: 0 auto;
  --transform-animation: transform 0.2s, width 0.2s, height 0.2s;
  --transition-delay: 1s, 0.5s, 0.5s;
  --z-index-1: 1000;
  --z-index-2: 100;
  --z-index-3: 10;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  color: var(--color-text);
  user-select: text;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              STYLE PAR DEFAUT AUX ELEMENTS DOM                   */
/* ////////////////////////////////////////////////////////////////////////////////// */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
hr,
select,
option,
label,
option {
  font: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.042);
  padding: 0;
  color: var(--color-text);
  margin: 0;
  border: 0;
  font-weight: 100;
}

optgroup {
  font-weight: 100;
  color: var(--color-primary);
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              CLASSES COLORS                                      */
/* ////////////////////////////////////////////////////////////////////////////////// */
.tft-clr-white{
  color: var(--white) !important;
}
.tft-bg-white{
  background-color: var(--white) !important;
}
.tft-clr-white1{
  color: var(--white-utile-1) !important;
}
.tft-bg-white1{
  background-color: var(--white-utile-1) !important;
}
.tft-clr-white2{
  color: var(--white-utile-2) !important;
}
.tft-bg-white2{
  background-color: var(--white-utile-2) !important;
}
.tft-clr-white3{
  color: var(--white-utile-3) !important;
}
.tft-bg-white3{
  background-color: var(--white-utile-3) !important;
}
.tft-clr-black{
  color: var(--black) !important;
}
.tft-bg-black{
  background-color: var(--black) !important;
}
.tft-clr-black1{
  color: var(--black-utile) !important;
}
.tft-bg-black1{
  background-color: var(--black-utile) !important;
}
.tft-clr-black2{
  color: var(--black-utile-2) !important;
}
.tft-bg-black2{
  background-color: var(--black-utile-2) !important;
}
.tft-clr-black3{
  color: var(--black-utile-3) !important;
}
.tft-bg-black3{
  background-color: var(--black-utile-3) !important;
}
.tft-clr-greensav{
  color: var(--clr-green1) !important;
}
.tft-bg-greensav{
  background-color: var(--clr-green1) !important;
}
.tft-clr-orangesav{
  color: var(--clr-orange1) !important;
}
.tft-bg-orangesav{
  background-color: var(--clr-orange1) !important;
}
.tft-clr-orangesav2{
  color: var(--clr-orange2) !important;
}
.tft-bg-orangesav2{
  background-color: var(--clr-orange2) !important;
}
.tft-clr-red-bg{
  color: var(--red-bg-icons) !important;
}
.tft-bg-red-bg{
  background-color: var(--red-bg-icons) !important;
}
.tft-bg-yellow-bg{
  background-color: var(--yellow-bg-icons) !important;
}
.tft-clr-yellow-bg{
  color: var(--yellow-bg-icons) !important;
}
.tft-bg-green-bg{
  background-color: var(--green-bg-icons) !important;
}
.tft-clr-green-bg{
  color: var(--green-bg-icons) !important;
}
.tft-bg-blue-bg{
  background-color: var(--blue-bg-icons) !important;
}
.tft-clr-blue-bg{
  color: var(--blue-bg-icons) !important;
}
.tft-clr-red-txt{
  color: var(--red-txt-icons) !important;
}
.tft-bg-red-txt{
  background-color: var(--red-txt-icons) !important;
}
.tft-bg-yellow-txt{
  background-color: var(--yellow-txt-icons) !important;
}
.tft-clr-yellow-txt{
  color: var(--yellow-txt-icons) !important;
}
.tft-bg-green-txt{
  background-color: var(--green-txt-icons) !important;
}
.tft-clr-green-txt{
  color: var(--green-txt-icons) !important;
}
.tft-bg-blue-txt{
  background-color: var(--blue-txt-icons) !important;
}
.tft-clr-blue-txt{
  color: var(--blue-txt-icons) !important;
}
.tft-clr-red{
  color: var(--clr-crimson) !important;
}
.tft-bg-red{
  background-color: var(--clr-crimson) !important;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              SCROLL BAR                                           */
/* ////////////////////////////////////////////////////////////////////////////////// */
::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  display: none;
  border-radius: 2px;
}

.activeScroll::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
  display: flex !important;
  border-radius: 10px;
}

.tft-cursorpointer {
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #BDBDBD;
  display: flex;
  cursor: pointer;
}

.scrollbar {
  width: 5px;
  cursor: pointer;
}
.ActiveBarre::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #BDBDBD !important;
  display: flex !important;
  border-radius: 10px !important;
}
scrollbar-thumb {
  background-color: var(--color-primary);
  display: none;
}

scrollbar-thumb:hover {
  background-color: #BDBDBD;
  display: flex;
  cursor: pointer;
}

::-webkit-progress-bar {
  background-color: #BDBDBD;
  border-radius: 4px;
  box-shadow: var(--boxshadow_section_blanche)
}

::-webkit-progress-value {
  background-color: var(--color-primary);
  border-radius: 4px;
  box-shadow: var(--boxshadow_section_blanche)
}

::-moz-progress-bar {
  background-color: #BDBDBD;
  border-radius: 4px;
  box-shadow: var(--boxshadow_section_blanche)
}

::-moz-progress-value {
  background-color: var(--color-primary);
  border-radius: 4px;
  box-shadow: var(--boxshadow_section_blanche)
}

::-ms-fill {
  background-color: #BDBDBD;
  border-radius: 4px;
  box-shadow: var(--boxshadow_section_blanche)
}

::-ms-fill-lower {
  background-color: var(--color-primary);
  border-radius: 4px;
  box-shadow: var(--boxshadow_section_blanche)
}

::-ms-fill-upper {
  background-color: var(--color-primary);
  border-radius: 4px;
  box-shadow: var(--boxshadow_section_blanche)
}

i {
  cursor: pointer;
}


/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              CLASSES POUR LES TAILLES                            */
/* ////////////////////////////////////////////////////////////////////////////////// */
.tft-w-10 {
  width: 10% !important;
}

.tft-w-20 {
  width: 20% !important;
}

.tft-w-30 {
  width: 30% !important;
}

.tft-w-40 {
  width: 40% !important;
}

.tft-w-50 {
  width: 50% !important;
}

.tft-w-60 {
  width: 60% !important;
}

.tft-w-70 {
  width: 70% !important;
}

.tft-w-80 {
  width: 80% !important;
}

.tft-w-90 {
  width: 90% !important;
}

.tft-w-95 {
  width: 95% !important;
}

.tft-w-98 {
  width: 98% !important;
}

.tft-w-100 {
  width: 100% !important;
}

.tft-h-10vh {
  height: 10vh !important;
}

.tft-h-10 {
  height: 10% !important;
}

.tft-h-20 {
  height: 20% !important;
}

.tft-h-20vh {
  height: 20vh !important;
}

.tft-h-30vh {
  height: 30vh !important;
}

.tft-h-30 {
  height: 30% !important;
}

.tft-h-40vh {
  height: 40vh !important;
}

.tft-h-40 {
  height: 40% !important;
}

.tft-h-50vh {
  height: 50vh !important;
}

.tft-h-50 {
  height: 50% !important;
}

.tft-h-60vh {
  height: 60vh !important;
}

.tft-h-60 {
  height: 60% !important;
}

.tft-h-70vh {
  height: 70vh !important;
}

.tft-h-70 {
  height: 70% !important;
}

.tft-h-80vh {
  height: 80vh !important;
}

.tft-h-80 {
  height: 80% !important;
}

.tft-h-90vh {
  height: 90vh !important;
}

.tft-h-90 {
  height: 90% !important;
}

.tft-h-95 {
  height: 95% !important;
}

.tft-h-98 {
  height: 98% !important;
}

.tft-h-100vh {
  height: 100vh !important;
}

.tft-h-100 {
  height: 100% !important;
}

.tft-h-vh {
  height: 100vh !important;
}

.tft-w-vw {
  width: 100vw !important;
}


/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              CLASSES POUR LES MARGES                             */
/* ////////////////////////////////////////////////////////////////////////////////// */
.tft-p-5 {
  padding: 5px !important;
}
.tft-p-2 {
  padding: 2px !important;
}
.tft-p-4_8 {
  padding: 4px 8px !important;
}
.tft-pb-5{
  padding-bottom:5px !important;
}
.tft-p-10 {
  padding: 10px !important;
}
.tft-p-20 {
  padding: 20px !important;
}
.tft-mt-0{
  margin-top: 0 !important;
}
.tft-mt-2{
  margin-top: 2px !important;
}
.tft-mt-10{
  margin-top:10px !important;
}
.tft-m-10 {
  margin: 10px auto !important;
}
.tft-m-20 {
  margin: 20px auto !important;
}
.tft-m-30 {
  margin: 30px auto !important;
}
.tft-mb-5{
  margin-bottom: 5% !important;
 }
 .tft-mb-7{
  margin-bottom: 7% !important;
 }
.tft-mt-10 {
  margin-top: 10px !important;
}
.tft-mt-5 {
  margin-top: 5px !important;
}
.tft-mt-20 {
  margin-top: 20px !important;
}
.tft-mt-30 {
  margin-top: 30px !important;
}
.tft-mt-40 {
  margin-top: 40px !important;
}
.tft-mb-10{
  margin-bottom: 10px !important;
}
.tft-m-50 {
  margin: 50px auto !important;
}
.tft-m-5 {
  margin: 5px auto !important;
}
.tft-m-90 {
  width: 90% !important;
}
.tft-m-auto{
  margin: auto !important;
}
.tft-ml-5{
  margin-left: 5px !important;
}
 /* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              CLASSES POUR LES POSITIONS                           */
/* //////////////////////////////////////////////////////////////////////////////////  */
.tft-p-relative{
position: relative !important;
}
.tft-p-absolute{
  position:absolute !important;
}
.tft-ab-5{
  position: absolute !important;
  bottom: 5px;
}
.tft-ab-0{
  position: absolute !important;
  bottom: 0px;
}
.tft-ab-M20{
  position: absolute !important;
  bottom: -20px;
}
.tft-ab-1{
  position: absolute !important;
  bottom: 1px;
}
.tft-top-0 {
  top: 0 !important;
}
.tft-left-0 {
  left: 0 !important;
}
.tft-right-0 {
  right: 0 !important;
}
.tft-bottom-0 {
  bottom: 0 !important;
}
.tft-top-M5{
  top: -5px !important;
}
.tft-top-M6{
  top: -6px !important;
}
.tft-top-0{
  top: 0 !important;
}
.tft-top-5{
  top: 5px !important;
}
.tft-top-10{
  top: 10px !important;
}
.tft-top-20{
  top: 20px !important;
}
.tft-right-5{
  right: 5px !important;
}
.tft-right-10{
  right: 10px !important;
}
.tft-right-50{
  right: 50px !important;
}
.tft-right-M5{
  right: -5px !important;
}
.tft-right-M3{
  right: -3px !important;
}
.tft-right-0{
  right: 0 !important;
}
.tft-bottom-20{
  bottom: 20px !important;
}
.tft-bottom-50{
  bottom: 50px !important;
}
.tft-bottom-100{
  bottom: 100px !important;
}
.tft-p-sticky {
  position: sticky !important;
  top: 0 !important;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              CLASSES POUR LES BORDURES                              */
/* ////////////////////////////////////////////////////////////////////////////////// */
.tft-br-5 {
  border-radius: 5px !important;
}
.tft-br-10 {
  border-radius: 10px !important;
}
.tft-br-30 {
  border-radius: 30px !important;
}
.tft-bdr-none {
  border: none !important;
}
.tft-br-boutons{
  border-radius:var(--border-radius-boutons) !important;
}
.tft-br-999{
  border-radius:var(--border-radius-999) !important;
}
.tft-b-bottom-gris{
  border-bottom: 1px solid var(--bg-icons) !important;
}
.tft-br-5-0-0-5{
  border-radius:5px 0 0 5px !important;
}
.tft-br-0-5-5-0{
  border-radius:0 5px 5px 0 !important;
}
.tft-br-0-0-5-5{
  border-radius: 0 0 5px 5px !important;
}
.tft-border-white{
  border: 1px solid #5f6062 !important;
}
.tft-bdr-white-1{
  border: 1px solid var(--white) !important;
}
.tft-bdr-white-2{
  border: 2px solid var(--white) !important;
}
.tft-bdr-white3{
  border: 1px solid var(--white-utile-3) !important;
}
.tft-bdr-white1-1{
  border: 1px solid var(--white-utile-1) !important;
}
.tft-bdr-white1-2{
  border: 2px solid var(--white-utile-1) !important;
}
.tft-bdr-icons-yellow{
  border: 1px solid var(--clr-yellow) !important;
}
.tft-bdr-greensav-1{
  border: 1px solid var(--clr-green1) !important;
}
.tft-bdr-greensav-2{
  border: 2px solid var(--clr-green1) !important;
}
.tft-bdr-yellow{
  border: 1px solid var(--yellow-bg-icons) !important;
}
.tft-bdr-black3-1{
  border: 1px solid var(--black-utile-3) !important;
}
.tft-bdr-black3-2{
  border: 2px solid var(--black-utile-3) !important;
}
.tft-bdr-black2-1{
  border: 1px solid var(--black-utile-2) !important;
}
.tft-bdr-black2-2{
  border: 2px solid var(--black-utile-2) !important;
}
.tft-bdr-black1-1{
  border: 1px solid var(--black-utile) !important;
}
.tft-bdr-black1-2{
  border: 2px solid var(--black-utile) !important;
}
.tft-bdr-black-1{
  border: 1px solid var(--black) !important;
}
.tft-bdr-black-2{
  border: 2px solid var(--black) !important;
}
.tft-bdr-white3-1{
  border: 1px solid var(--white-utile-3) !important;
}
.tft-bdr-white3-2{
  border: 2px solid var(--white-utile-3) !important;
}
.tft-bdr-white2-1{
  border: 1px solid var(--white-utile-2) !important;
}
.tft-bdr-white2-2{
  border: 2px solid var(--white-utile-2) !important;
}
.tft-bdr-blue-txt-1{
  border: 1px solid var(--blue-txt-icons) !important;
}
.tft-bdr-blue-txt-2{
  border: 2px solid var(--blue-txt-icons) !important;
}
.tft-bdr-red-txt-1{
  border: 1px solid var(--clr-crimson) !important;
}
.tft-bdr-red-txt-2{
  border: 2px solid var(--clr-crimson) !important;
}
.tft-bdr-green-txt-1{
  border:1px solid var(--green-txt-icons) !important;
}
.tft-bdr-green-txt-2{
  border:2px solid var(--green-txt-icons) !important;
}
.tft-bdr-yellow-txt-1{
  border:1px solid var(--yellow-txt-icons) !important;
}
.tft-bdr-yellow-txt-2{
  border:2px solid var(--yellow-txt-icons) !important;
}
.tft-bdr-gris-1{
  border:1px solid var(--bg-icons) !important;
}
.tft-bdr-gris-2{
  border:2px solid var(--bg-icons) !important;
}
.tft-bdr-b-yellow-bg-1{
  border-bottom:1px solid var(--yellow-bg-icons) !important;
}
.tft-bdr-l-yellow-bg-1{
  border-left:1px solid var(--yellow-bg-icons) !important;
}
.tft-bdr-r-yellow-bg-1{
  border-right:1px solid var(--yellow-bg-icons) !important;
}
.tft-bdr-t-yellow-bg-1{
  border-top:1px solid var(--yellow-bg-icons) !important;
}
.tft-bdr-b-yellow-bg-2{
  border-bottom:2px solid var(--yellow-bg-icons) !important;
}
.tft-bdr-l-yellow-bg-2{
  border-left:2px solid var(--yellow-bg-icons) !important;
}
.tft-bdr-r-yellow-bg-2{
  border-right:2px solid var(--yellow-bg-icons) !important;
}
.tft-bdr-t-yellow-bg-2{
  border-top:2px solid var(--yellow-bg-icons) !important;
}
.tft-bdr-b-yellow-txt-1{
  border-bottom:1px solid var(--yellow-txt-icons) !important;
}
.tft-bdr-l-yellow-txt-1{
  border-left:1px solid var(--yellow-txt-icons) !important;
}
.tft-bdr-r-yellow-txt-1{
  border-right:1px solid var(--yellow-txt-icons) !important;
}
.tft-bdr-t-yellow-txt-1{
  border-top:1px solid var(--yellow-txt-icons) !important;
}
.tft-bdr-b-yellow-txt-2{
  border-bottom:2px solid var(--yellow-txt-icons) !important;
}
.tft-bdr-l-yellow-txt-2{
  border-left:2px solid var(--yellow-txt-icons) !important;
}
.tft-bdr-r-yellow-txt-2{
  border-right:2px solid var(--yellow-txt-icons) !important;
}
.tft-bdr-t-yellow-txt-2{
  border-top:2px solid var(--yellow-txt-icons) !important;
}
.tft-bdr-b-blue-bg-1{
  border-bottom:1px solid var(--blue-bg-icons) !important;
}
.tft-bdr-l-blue-bg-1{
  border-left:1px solid var(--blue-bg-icons) !important;
}
.tft-bdr-r-blue-bg-1{
  border-right:1px solid var(--blue-bg-icons) !important;
}
.tft-bdr-t-blue-bg-1{
  border-top:1px solid var(--blue-bg-icons) !important;
}
.tft-bdr-b-blue-bg-2{
  border-bottom:2px solid var(--blue-bg-icons) !important;
}
.tft-bdr-l-blue-bg-2{
  border-left:2px solid var(--blue-bg-icons) !important;
}
.tft-bdr-r-blue-bg-2{
  border-right:2px solid var(--blue-bg-icons) !important;
}
.tft-bdr-t-blue-bg-2{
  border-top:2px solid var(--blue-bg-icons) !important;
}
.tft-bdr-b-blue-txt-1{
  border-bottom:1px solid var(--blue-txt-icons) !important;
}
.tft-bdr-l-blue-txt-1{
  border-left:1px solid var(--blue-txt-icons) !important;
}
.tft-bdr-r-blue-txt-1{
  border-right:1px solid var(--blue-txt-icons) !important;
}
.tft-bdr-t-blue-txt-1{
  border-top:1px solid var(--blue-txt-icons) !important;
}
.tft-bdr-b-blue-txt-2{
  border-bottom:2px solid var(--blue-txt-icons) !important;
}
.tft-bdr-l-blue-txt-2{
  border-left:2px solid var(--blue-txt-icons) !important;
}
.tft-bdr-r-blue-txt-2{
  border-right:2px solid var(--blue-txt-icons) !important;
}
.tft-bdr-t-blue-txt-2{
  border-top:2px solid var(--blue-txt-icons) !important;
}
.tft-bdr-b-red-bg-1{
  border-bottom:1px solid var(--red-bg-icons) !important;
}
.tft-bdr-l-red-bg-1{
  border-left:1px solid var(--red-bg-icons) !important;
}
.tft-bdr-r-red-bg-1{
  border-right:1px solid var(--red-bg-icons) !important;
}
.tft-bdr-t-red-bg-1{
  border-top:1px solid var(--red-bg-icons) !important;
}
.tft-bdr-b-red-bg-2{
  border-bottom:2px solid var(--red-bg-icons) !important;
}
.tft-bdr-l-red-bg-2{
  border-left:2px solid var(--red-bg-icons) !important;
}
.tft-bdr-r-red-bg-2{
  border-right:2px solid var(--red-bg-icons) !important;
}
.tft-bdr-t-red-bg-2{
  border-top:2px solid var(--red-bg-icons) !important;
}
.tft-bdr-b-red-txt-1{
  border-bottom:1px solid var(--red-txt-icons) !important;
}
.tft-bdr-l-red-txt-1{
  border-left:1px solid var(--red-txt-icons) !important;
}
.tft-bdr-r-red-txt-1{
  border-right:1px solid var(--red-txt-icons) !important;
}
.tft-bdr-t-red-txt-1{
  border-top:1px solid var(--red-txt-icons) !important;
}
.tft-bdr-b-red-txt-2{
  border-bottom:2px solid var(--red-txt-icons) !important;
}
.tft-bdr-l-red-txt-2{
  border-left:2px solid var(--red-txt-icons) !important;
}
.tft-bdr-r-red-txt-2{
  border-right:2px solid var(--red-txt-icons) !important;
}
.tft-bdr-t-red-txt-2{
  border-top:2px solid var(--red-txt-icons) !important;
}
.tft-bdr-b-green-bg-1{
  border-bottom:1px solid var(--green-bg-icons) !important;
}
.tft-bdr-l-green-bg-1{
  border-left:1px solid var(--green-bg-icons) !important;
}
.tft-bdr-r-green-bg-1{
  border-right:1px solid var(--green-bg-icons) !important;
}
.tft-bdr-t-green-bg-1{
  border-top:1px solid var(--green-bg-icons) !important;
}
.tft-bdr-b-green-bg-2{
  border-bottom:2px solid var(--green-bg-icons) !important;
}
.tft-bdr-l-green-bg-2{
  border-left:2px solid var(--green-bg-icons) !important;
}
.tft-bdr-r-green-bg-2{
  border-right:2px solid var(--green-bg-icons) !important;
}
.tft-bdr-t-green-bg-2{
  border-top:2px solid var(--green-bg-icons) !important;
}
.tft-bdr-b-green-txt-1{
  border-bottom:1px solid var(--green-txt-icons) !important;
}
.tft-bdr-l-green-txt-1{
  border-left:1px solid var(--green-txt-icons) !important;
}
.tft-bdr-r-green-txt-1{
  border-right:1px solid var(--green-txt-icons) !important;
}
.tft-bdr-t-green-txt-1{
  border-top:1px solid var(--green-txt-icons) !important;
}
.tft-bdr-b-green-txt-2{
  border-bottom:2px solid var(--green-txt-icons) !important;
}
.tft-bdr-l-green-txt-2{
  border-left:2px solid var(--green-txt-icons) !important;
}
.tft-bdr-r-green-txt-2{
  border-right:2px solid var(--green-txt-icons) !important;
}
.tft-bdr-t-green-txt-2{
  border-top:2px solid var(--green-txt-icons) !important;
}
.tft-bdr-b-black2-1{
  border-bottom:1px solid var(--black-utile-2) !important;
}
.tft-bdr-l-black2-1{
  border-left:1px solid var(--black-utile-2) !important;
}
.tft-bdr-r-black2-1{
  border-right:1px solid var(--black-utile-2) !important;
}
.tft-bdr-t-black2-1{
  border-top:1px solid var(--black-utile-2) !important;
}
.tft-bdr-bottom-black2-2{
  border-bottom:2px solid var(--black-utile-2) !important;
}
.tft-bdr-left-black2-2{
  border-left:2px solid var(--black-utile-2) !important;
}
.tft-bdr-right-black2-2{
  border-right:2px solid var(--black-utile-2) !important;
}
.tft-bdr-top-black2-2{
  border-top:2px solid var(--black-utile-2) !important;
}
.tft-bdr-b-black-1{
  border-bottom:1px solid var(--black-utile) !important;
}
.tft-bdr-l-black-1{
  border-left:1px solid var(--black-utile) !important;
}
.tft-bdr-r-black-1{
  border-right:1px solid var(--black-utile) !important;
}
.tft-bdr-t-black-1{
  border-top:1px solid var(--black-utile) !important;
}
.tft-bdr-bottom-black-2{
  border-bottom:2px solid var(--black-utile) !important;
}
.tft-bdr-left-black-2{
  border-left:2px solid var(--black-utile) !important;
}
.tft-bdr-right-black-2{
  border-right:2px solid var(--black-utile) !important;
}
.tft-bdr-top-black-2{
  border-top:2px solid var(--black-utile) !important;
}
.tft-bdr-orangesav-1{
  border: 1px solid var(--clr-orange1) !important;
}
.tft-bdr-orangesav-2{
  border: 2px solid var(--clr-orange1) !important;
}
.tft-bdr-orangesav2-1{
  border: 1px solid var(--clr-orange2) !important;
}
.tft-bdr-orangesav2-2{
  border: 2px solid var(--clr-orange2) !important;
}
.tft-bdr-red-bg-1{
  border:1px solid var(--red-bg-icons) !important;
}
.tft-bdr-red-bg-2{
  border:2px solid var(--red-bg-icons) !important;
}
.tft-bdr-yellow-bg-2{
  border:2px solid var(--yellow-bg-icons) !important;
}
.tft-bdr-yellow-bg-1{
  border:1px solid var(--yellow-bg-icons) !important;
}
.tft-bdr-green-bg-2{
  border:2px solid var(--green-bg-icons) !important;
}
.tft-bdr-green-bg-1{
  border:1px solid var(--green-bg-icons) !important;
}
.tft-bdr-blue-bg-2{
  border:2px solid var(--blue-bg-icons) !important;
}
.tft-bdr-blue-bg-1{
  border:1px solid var(--blue-bg-icons) !important;
}
.tft-bdr-b-transparent-2{
  border-bottom: 2px solid transparent !important;
}
.tft-bdr-r-transparent-2{
  border-right: 2px solid transparent !important;
}
.tft-bdr-l-transparent-2{
  border-left: 2px solid transparent !important;
}
.tft-bdr-t-transparent-2{
  border-top: 2px solid transparent !important;
}
.tft-bdr-b-transparent-1{
  border-bottom: 1px solid transparent !important;
}
.tft-bdr-r-transparent-1{
  border-right: 1px solid transparent !important;
}
.tft-bdr-l-transparent-1{
  border-left: 1px solid transparent !important;
}
.tft-bdr-t-transparent-1{
  border-top: 1px solid transparent !important;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              CLASSES POUR LES GAP                                */
/* ////////////////////////////////////////////////////////////////////////////////// */
.tft-gap-15px {
  gap: 15px !important;
}
.tft-gap-10px {
  gap: 10px !important;
}
.tft-gap-5px {
  gap: 5px !important;
}
.tft-gap-3px {
  gap: 3px !important;
}
.tft-gap-2px {
  gap: 2px !important;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                  CLASSES POUR LES TITRES ET TEXTES                               */
/* ////////////////////////////////////////////////////////////////////////////////// */
.tft-title1{
  font-size: 20px;
  font-weight: 500;
  color: var( --white-utile-1);
}
.tft-title2{
  font-size: 17px;
  font-weight: 500;
  color: var( --white-utile-1);
}
.tft-title3{
  font-size: 15px;
  font-weight: 500;
  color: var( --white-utile-1);
}
.tft-title4{
  font-size: 13px;
  font-weight: 400;
  color: var( --white-utile-1);
}
.tft-sm-title1{
  font-size: 12px;
  font-weight: 300;
  color: var( --white-utile-3);
}
.tft-sm-title2{
  font-size: 11px;
  font-weight: 250;
  color: var( --white-utile-3);
}
.tft-text-white{
  color:white !important;
}
.tft-text-centre{
  width: 100%;
  text-align: center;
}
.tft-text-center{
  text-align: center !important;
}
.tft-text-start{
  text-align: start !important;
}
.tft-text-end{
  text-align: end !important;
}
.tft-text-justify {
  text-align: justify !important;
}
.tft-fw-600{
  font-weight: 600 !important;
}
.tft-fw-700{
  font-weight: 700 !important;
}
.tft-fw-900{
  font-weight: 900 !important;
}
.tft-fs-8{
  font-size:8px !important;
}
.tft-fs-9{
  font-size:9px !important;
}
.tft-fs-10{
  font-size:10px !important;
}
.tft-fs-12{
  font-size:12px !important;
}
.tft-fs-13{
  font-size:13px !important;
}
.tft-fs-14{
  font-size:14px !important;
}
.tft-fs-15{
  font-size:15px !important;
}
.tft-fs-18{
  font-size:18px !important;
}
.tft-fs-20{
  font-size:1.5rem !important;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              FLEX ET GRID                                        */
/* ////////////////////////////////////////////////////////////////////////////////// */
.tft-flex {
  display: flex !important;
}
.tft-d-none{
  display: none !important;
}
.tft-flex-column{
  flex-direction: column !important;
}
.tft-a-center {
  align-items: center !important;
}
.tft-a-start{
  align-items: start !important;
}
.tft-a-end{
  align-items: end !important;
}
.tft-a-center{
  align-items: center !important;
}
.tft-j-center{
  justify-content: center !important;
}
.tft-j-start{
  justify-content: start !important;
}
.tft-j-end{
  justify-content: end !important;
}
.tft-a-self-start{
  align-self:start !important;
}
.tft-a-self-center{
  align-self:center !important;
}
.tft-a-self-end{
  align-self:end !important ;
}
.tft-j-self-end{
  justify-self: end !important;
}
.tft-j-self-start{
  justify-self: start !important;
}
.tft-j-self-center{
  justify-self: end !important;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              FORMULAIRES                                        */
/* ////////////////////////////////////////////////////////////////////////////////// */
input,
textarea,
button {
  background: transparent;
  color: var(--color-text);
  border: none;
  outline: none;
}

textarea {
  scrollbar-width: thin;
  /* Pour Firefox */
  scrollbar-color: transparent transparent;
  /* Pour Firefox */
  -ms-overflow-style: none;
  /* Pour Internet Explorer et Microsoft Edge */
  overflow-y: scroll;
  /* Pour les autres navigateurs */
  width: 100%;
  resize: none;
}
.tft-form-container{
    padding: 10px;
    width:100%;
    max-height:90%;
    overflow: auto;
}
.tft-form-group{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.tft-form-label{
    font-size: 12px;
    opacity: 0.7;
}
.tft-form-label span{
    color: crimson;
}
.tft-form-control{
    background-color: transparent;
    border: 1px solid var(--bg-icons);
    padding: 7px 7px;
    border-radius: 5px;
    font-size:12px;
    color:var(--icons-white);
    opacity: 0.7;
    width:100%;
}
.tft-select-custom{
    appearance: none;
    color:var(--icons-white);
    opacity: 0.7;
    background-color: var(--black-utile);
    border-radius: 5px !important;
}

.tft-form-line{
    display:flex;
    gap:10px;
    padding: 2px 0px;
}
form{
    width:100%;
    padding:5px;
    border-radius: 5px ;
    display: flex;
    flex-direction: column;
    gap:5px;
    justify-content: center;
    align-items: center;
}
.tft-search-withIcon{
    display:flex;   
    justify-content: center;
    align-items: center;
    position: relative;
}
.tft-search-withIcon input{
    flex:1;
    padding: 8px 8px;
    background-color: transparent;
    border-radius:5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid var(--bg-icons);
}
.tft-search-withIcon-icon{
    width:35px;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10.5px 8px;
    border-radius: 0 5px 5px 0;
}
.tft-search-withIcon-icon i{
    font-size:12px;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              CURSOR,Z-INDEX,OVERFLOW                                        */
/* ////////////////////////////////////////////////////////////////////////////////// */
.tft-hidden-y {
  overflow-y: hidden !important;
}

.tft-hidden-x {
  overflow-x: hidden !important;
}

.tft-z-index-1{
  z-index:1000;
}

.tft-opacity {
  opacity: .6;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              CLASSES REUTILISABLES                               */
/* ////////////////////////////////////////////////////////////////////////////////// */
.tft-container{
  width: 100%;
  height: 100%;
}
.tft-items-j-flexend {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tft-items-j-flexstart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tft-conteneurPopScrollcontent {
  width: 500px;
  height: 480px;
  overflow: hidden;
  background: var(--white-utile-1);
  border-radius: 10px;
  transition: height 0.2s ease;
  box-shadow: var(--boxshadowPopup);
}

.tft-conteneurPopScrollcontent.active {
  height: 590px;
}

.tft-conteneurPopScrollcontent .wrapper {
  width: 1000px;
  display: flex;
}

.tft-conteneurPopScrollcontent .wrapper section {
  width: 500px;
  background: #fff;
}

.tft-conteneurPopScrollcontent img {
  cursor: pointer;
}

.tft-conteneurPopScrollcontent .post {
  transition: margin-left 0.18s ease;
}

.tft-conteneurPopScrollcontent.active .post {
  margin-left: -500px;
}

.tft-cartetImageSeen.Images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tft-relationUtilisateurProfil span {
  font-size: 12px;
  opacity: .8;
}

.tft-relationUtilisateurProfil {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.tft-ImageAffichagecarousel-slide {
  min-width: 100%;
  margin: 0px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
}

.tft-ImageAffichagecarousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tft-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tft-avatar-cours-petit
{
  width: 40px;
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
}
.tft-avatar-cours-petit img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.tft-avatar-profil-petit
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.tft-avatar-profil-moyen
{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.tft-avatar-profil-moyen2
{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.tft-avatar-profil-grand-plus
{
  width: 100px;
  height: 100px;
  position: relative;
}
.tft-avatar-profil-grand-plus img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.tft-avatar-profil-grand-plus .plus-icon{
  position:absolute;
  bottom: 5px;
  right:1px;
  cursor: pointer;
}
.tft-avatar-profil-grand
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.tft-avatar-profil-grand img ,.tft-avatar-profil-petit img ,.tft-avatar-profil-moyen img,.tft-avatar-profil-moyen2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tft-centre-tout-h{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;

}
.tft-centre-tout{
  display: flex;
  align-items: center;
  justify-content:center;
}

.tft-icon-round-petit{
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all 0.5s;
  box-shadow: var(--boxshadowPopup);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tft-icon-round-moyen{
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all 0.5s;
  box-shadow: var(--boxshadowPopup);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tft-icon-carre-petit{
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  transition: all 0.5s;
  box-shadow: var(--boxshadowPopup);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tft-icon-carre-moyen{
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  transition: all 0.5s;
  box-shadow: var(--boxshadowPopup);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tft-icon-carre-petit i ,.tft-icon-round-petit i{
  font-size: 8px;
  color: var(--icons-white);
}
.tft-icon-carre-moyen i ,.tft-icon-round-moyen i{
  font-size: 14px;
  color: var(--icons-white);
}
.tft-icon-round{
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all 0.5s;
  box-shadow: var(--boxshadowPopup);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tft-icon-round-grand{
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all 0.5s;
  box-shadow: var(--boxshadowPopup);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tft-icon-carre-grand{
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all 0.5s;
  box-shadow: var(--boxshadowPopup);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tft-icon-carre i ,.tft-icon-round i{
  font-size: 15px;
  color: var(--icons-white);
}
.tft-icon-carre-grand i ,.tft-icon-round-grand i{
  font-size: 20px;
  color: var(--icons-white);
}

.tft-icon-carre{
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  transition: all 0.5s;
  box-shadow: var(--boxshadowPopup);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tft-iconeBoutonsCercle {
  width: 45px;
  width: 45px;
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out;
}

.tft-iconeBoutonsCarre {
  width: 45px;
  width: 45px;
  cursor: pointer;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.tft-boutonsFirst {
  height: 53px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  cursor: no-drop;
  border-radius: 7px;
  background: var(--white-utile-1);
  transition: all 0.3s ease;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: var(--padding_boutons);
  border-radius: var(--br-btn);
}

.tft-AnimationLoading {
  width: 15px;
  height: 15px;
  position: relative;
}

.tft-boutonSecond {
  height: 53px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 7px;
  background: var(--white-utile-1);
  transition: all 0.3s ease;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: var(--padding_boutons);
  border-radius: var(--color-border-radius-arond);
}

.tft-header-top {
  font-size: 22px;
  font-weight: 600;
  padding: 17px 0;
  text-align: center;
  border-bottom: 1px solid var(--clr-bdr-black);
}

.tft-menuoptions {
  position: absolute;
  width: 70%;
  margin: 0 auto;
  right: 10px;
  margin-top: 30px;
  height: fit-content;
  background: var(--white-utile-1);
  box-shadow: var(--boxshadowPopup);
  border-radius: 5px;
  z-index: var(--z-index-1);
  display: none;
}

.tft-badge-red{
    padding: 4px 8px;
    border-radius:999px;
    background-color: var(--clr-crimson);
    color: #fff;
    width: fit-content;
    font-size: 11px;
}
.tft-badge-yellow{
    padding: 4px 8px;
    border-radius:999px;
    background-color: var(--clr-yellow);
    color: #fff;
    width: fit-content;
    font-size: 11px;
}

.tft-badge-blue{
    padding: 4px 8px;
    border-radius:999px;
    background-color: var(--blue-txt-icons);
    color: #fff;
    width: fit-content;
    font-size: 11px;
}
.tft-swiper-wrapper.tft-pageSlidePrincipale {
  transition: all .1s ease !important;

}

.tft-swiper-wrapper {
  transition: all .3s ease-in-out !important;
}

.tft-btnBehavior {
  font-size: 16px;
}
.tft-plus-icon{
    width:25px;
    height:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    padding: 5px;
}
.tft-plus-icon i{
    font-size:15px;
}
.tft-close-icon{
    width:25px;
    height:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    padding: 5px;
}
.tft-file-icon{
    background-color: var(--icons-white);
    width:20px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.tft-file-icon::before{
    content: "";
    position:absolute;
    top: -1px;
    right: 0;
    width:5px;
    height: 5px;
    background-color: var(--black-utile-2);
    clip-path:polygon(100% 0,0 0,100% 100%);
}
.tft-file-icon::after{
    content: "";
    position:absolute;
    top: -1px;
    right: 0;
    width:5px;
    height: 5px;
    clip-path:polygon(0 100%,100% 100%,0 0);
    border: 1px solid rgb(66, 65, 65);
    z-index: 1000;
    box-shadow: var(--boxshadowPopup);
}
.tft-file-icon i{
    font-size: 10px;
}
.tft-file-icon-moyen{
    background-color: var(--icons-white);
    width:25px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.tft-file-icon-moyen::before{
    content: "";
    position:absolute;
    top: -1px;
    right: 0;
    width:5px;
    height: 5px;
    background-color: var(--black-utile);
    clip-path:polygon(100% 0,0 0,100% 100%);
}
.tft-file-icon-moyen::after{
    content: "";
    position:absolute;
    top: -1px;
    right: 0;
    width:5px;
    height: 5px;
    clip-path:polygon(0 100%,100% 100%,0 0);
    border: 1px solid rgb(66, 65, 65);
    z-index: 1000;
    box-shadow: var(--boxshadowPopup);
}
.tft-file-icon-moyen i{
    font-size: 10px;
}
.tft-hover-crimson:hover{
  background-color: var(--red-bg-icons) !important;
}
.tft-close-icon i{
    font-size:14px;
}
.tft-popup-modal{
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1000;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.tft-show{
    display: flex !important;
}
.tft-hidden{
  display:none !important;
}
.tft-popup-container-small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    padding: 15px 10px;
    width:40%;
    max-height: 100%;
    border-radius: 5px;
    overflow: auto;
    box-shadow: var(--boxshadowPopup);
    transition: all ease 0.5s;
}
.tft-search{
    border:1px solid rgba(37, 38, 44);
    padding: 6px 8px;
    flex:1;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.tft-search i{
    font-size:11px;
    opacity: 0.5;
}
.tft-search input{
    background: transparent !important;
    color:whitesmoke;
    border: none;
    padding: 2px 2px;
    font-size: 12px;
    outline: none;
    width:99%;
}
.tft-invite-people{
    display: flex;
    padding: 1px 0;
    align-items: center;
    justify-content: space-between;
    width:100%;
    position: relative;
    border-radius: 5px;
}
.tft-invite-button{
    padding: 9px 25px;
    border: none;
    color: white;
    cursor: pointer;
    height: 100%;
    width: fit-content;
    border-radius: 5px;
    font-size: 12px;
  }
  .tft-combo-box{
    position: absolute;
    top:100%;
    right:0%;
    left:0%;
    z-index: 1000;
    background-color: rgba(37, 38, 44);
    width: 100% !important;
    border:1px solid rgba(37, 38, 44);
    padding: 5px 0 !important;
    max-height: 150px;
    overflow: auto;
    display: none;
    flex-direction: column;
    gap: 10px;
    box-shadow: var(--boxshadowPopup);
}
.tft-combo-box::-webkit-scrollbar {
    width: 6px;
}

.tft-combo-box::-webkit-scrollbar-track {
    background: transparent !important;
}

.tftcombo-box::-webkit-scrollbar-thumb {
    background: var(--blue-bg-icons);
    border-radius: 10px;
}
.tft-invite-item{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    transition: all 0.3s;
}
.tft-invite-item:hover{
    background-color: rgba(255, 255, 255, 0.05) !important;
}
.tft-invite-avatar{
    width:30px !important;
    height: 30px !important;
    font-size:12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.tft-invite-info .tft-invite-name,.tft-invite-status{
    font-size:11px !important;
    color: #888;
}
.tft-invite-info .tft-invite-name{
  margin-bottom: 2px;
}
.tft-participants-list {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tft-participants-list-round {
  flex: 1;
  padding: 15px 10px;
  overflow-y: auto;
  display: flex;
  flex-wrap:wrap;
  gap: 10px;
  width:100%;
}
.tft-participant-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  transition: all 0.3s;
}
.tft-participant-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  flex-shrink: 0;
  }
.tft-logo-avatar{
  width:45px;
  height:45px;
  overflow: hidden;
  border-radius: var(--br-btn);
}
.tft-logo-avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tft-participant-info {
  flex: 1;
}

.tft-participant-info .tft-participant-name {
  font-size: 14px;
  margin-bottom: 2px;
}

.tft-participant-info .tft-participant-status {
  font-size: 11px;
  color: #888;
}
.tft-btn-submit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 9px;
  width:fit-content;
  border-radius: 5px;
  cursor: pointer;
}
.tft-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 9px;
  width:fit-content;
  border-radius: 5px;
  cursor: pointer;
}
.tft-users{
    padding: 10px 5px;
    display: flex;
    gap:5px;
    justify-content: space-between;
    align-items: center;
    height:fit-content;
    border-radius: 5px; 
    width: 40%;
}
.tft-users-pics{
    width: 50%;
    height: 100%;
    padding:3px 5px;
    display: flex;
    position: relative;
    height: 100% !important;
    gap:10px;
}
.tft-user-pic{
    width:25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tft-user-pic:nth-child(1){
    position: absolute;
    left: 0;
    top:-10px;
    z-index: 8;
}
.tft-user-pic:nth-child(2){
    position: absolute;
    left: 18px;
    top:-10px;
    z-index: 7; 
}
.tft-user-pic:nth-child(2):hover{
    z-index: 1000;
}
.tft-user-pic:nth-child(3){
    position: absolute;
    left: 35px;
    top:-10px;
    z-index: 6;
}
.tft-user-pic:nth-child(3):hover{
    z-index: 1000;
}
.tft-user-pic:nth-child(4){
    position: absolute;
    left: 50px;
    top:-10px;
    z-index: 5;
}
.tft-user-pic:nth-child(4):hover{
    z-index: 1000;
}
.tft-user-pic:nth-child(5){
    position: absolute;
    left: 70px;
    top:-10px;
    z-index: 20;
}
.tft-user-pic p{
    font-size: 8px;
    font-weight: 900;
}
.tft-user-pic img{
    width:100%;
    height:100%;
    object-fit: cover;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              LES BADGES                                           */
/* ////////////////////////////////////////////////////////////////////////////////// */

.tft-stock-badge-green{
    display: flex;
    gap:10px;
    justify-content: start;
    align-items: center;
 }
 .tft-stock-badge-green .tft-stock-dot{
    width:7px;
    height:7px;
    border-radius: 50%;
    background-color: var(--green-text);
 }
 .tft-stock-badge-green .tft-stock-info{
    padding: 3px 5px;
    background-color: var(--green-bg);
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
 }
 .tft-stock-badge-green .tft-stock-info p{
    color:var(--green-text);
    font-size: 12px;
    text-align: center;
 }
 .tft-stock-badge-orange{
    display: flex;
    gap:10px;
    justify-content: start;
    align-items: center;
 }
 .tft-stock-badge-orange .tft-stock-dot{
    width:7px;
    height:7px;
    border-radius: 50%;
    background-color: var(--orange-text);
 }
 .tft-stock-badge-orange .tft-stock-info{
    padding: 3px 5px;
    background-color: var(--orange-bg);
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
 }
 .tft-stock-badge-orange .tft-stock-info p{
    color:var(--orange-text);
    font-size: 12px;
    text-align: center;
 }
 .tft-stock-badge-blue{
    display: flex;
    gap:10px;
    justify-content: start;
    align-items: center;
 }
 .tft-stock-badge-blue .tft-stock-dot{
    width:7px;
    height:7px;
    border-radius: 50%;
    background-color: var(--blue-text);
 }
 .tft-stock-badge-blue .tft-stock-info{
    padding: 3px 5px;
    background-color: var(--blue-bg);
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
 }
 .tft-stock-badge-blue .tft-stock-info p{
    color:var(--blue-text);
    font-size: 12px;
    text-align: center;
 }
 .tft-stock-badge-red{
    display: flex;
    gap:10px;
    justify-content: start;
    align-items: center;
 }
 .tft-stock-badge-red .tft-stock-dot{
    width:7px;
    height:7px;
    border-radius: 50%;
    background-color: var(--red-text);
 }
 .tft-stock-badge-red .tft-stock-info{
    padding: 3px 5px;
    background-color: var(--red-bg);
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
 }
 .tft-stock-badge-red .tft-stock-info p{
    color:var(--red-text);
    font-size: 12px;
    text-align: center;
 }
 .tft-stock-badge-yellow{
    display: flex;
    gap:10px;
    justify-content: start;
    align-items: center;
 }
 .tft-stock-badge-yellow .tft-stock-dot{
    width:7px;
    height:7px;
    border-radius: 50%;
    background-color: var(--yellow-text);
 }
 .tft-stock-badge-yellow .tft-stock-info{
    padding: 3px 5px;
    background-color: var(--yellow-bg);
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
 }
 .tft-stock-badge-yellow .tft-stock-info p{
    color:var(--yellow-text);
    font-size: 12px;
    text-align: center;
 }
 .tft-stock-badge-gris{
    display: flex;
    gap:10px;
    justify-content: start;
    align-items: center;
 }
 .tft-stock-badge-gris .tft-stock-dot{
    width:7px;
    height:7px;
    border-radius: 50%;
    background-color: var(--text-light);
 }
 .tft-stock-badge-gris .tft-stock-info{
    padding: 3px 5px;
    background-color: var(--white-utile-3);
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
 }
 .tft-stock-badge-gris .tft-stock-info p{
    color:var(--text-light);
    font-size: 12px;
    text-align: center;
 }
 .tft-status-badge-blue{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 999px;
    background-color: var(--blue-bg);
    width:fit-content;
    border: 1px solid var(--white-utile-3);
 }
 .tft-status-badge-blue p{
    color: var(--blue-text);
    font-size: 12px;
 }
 .tft-status-badge-green{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 999px;
    background-color: var(--green-bg);
    width:fit-content;
    border: 1px solid var(--white-utile-3);
 }
 .tft-status-badge-green p{
    color: var(--green-text);
    font-size: 12px;
 }
 .tft-status-badge-orange{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 999px;
    background-color: var(--orange-bg);
    width:fit-content;
    border: 1px solid var(--white-utile-3);
 }
 .tft-status-badge-orange p{
    color: var(--orange-text);
    font-size: 12px;
 }
 .tft-status-badge-red{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 999px;
    background-color: var(--red-bg);
    width:fit-content;
    border: 1px solid var(--white-utile-3);
 }
 .tft-status-badge-red p{
    color: var(--red-text);
    font-size: 12px;
 }
 .tft-status-badge-yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 999px;
    background-color: var(--yellow-bg);
    width:fit-content;
    border: 1px solid var(--white-utile-3);
 }
 .tft-status-badge-yellow p{
    color: var(--yellow-text);
    font-size: 12px;
 }
 .tft-status-badge-gris{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 999px;
    background-color: var(--white-utile-3);
    width:fit-content;
    border: 1px solid var(--white-utile-3);
 }
 .tft-status-badge-gris p{
    color: var(--text-light);
    font-size: 12px;
 }
 .tft-item-badge-green{
    padding: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-bg) !important;
    border-radius: 5px;
}
.tft-item-badge-green p{
    color: var(--green-text) !important;
    font-size: 12px;
}
.tft-item-badge-red{
    padding: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-bg);
    border-radius: 5px;
}
.tft-item-badge-red p{
    color: var(--red-text);
    font-size: 12px;
}
.tft-item-badge-yellow{
    padding: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-bg);
    border-radius: 5px;
}
.tft-item-badge-yellow p{
    color: var(--yellow-text);
    font-size: 12px;
}
.tft-item-badge-blue{
    padding: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-bg);
    border-radius: 5px;
}
.tft-item-badge-blue p{
    color: var(--blue-text);
    font-size: 12px;
}
.tft-item-badge-orange{
    padding: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange-bg);
    border-radius: 5px;
}
.tft-item-badge-orange p{
    color: var(--orange-text);
    font-size: 12px;
}
.tft-item-badge-gris{
    padding: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-utile-3);
    border-radius: 5px;
}
.tft-item-badge-gris p{
    color: var(--text-light);
    font-size: 12px;
}
 .tft-item-badge-up-right{
    position: absolute;
    top:6px;
    right: 6px;
    box-shadow: 0 0 10px var(--blackBlur);
 }
 .tft-item-badge-up-left{
    position: absolute;
    top:6px;
    left: 6px;
    box-shadow: 0 0 10px var(--blackBlur);
 }
 .tft-item-badge-down-right{
    position: absolute;
    bottom:6px;
    right: 6px;
    box-shadow: 0 0 10px var(--blackBlur);
 }
 .tft-item-badge-down-left{
    position: absolute;
    bottom:6px;
    left: 6px;
    box-shadow: 0 0 10px var(--blackBlur);
 }
 .tft-rate-green{
    display: flex;
    gap:5px;
    padding: 2px;
    align-items: center;
    border-radius: 5px;
    background-color: var(--green-bg);
    align-self: start;
}
.tft-rate-green i{
    font-size: 10px;
    color:var(--green-text);
}
.tft-rate-green p{
    font-size: 10px;
    color:var(--green-text);
    font-weight: 600;
}
.tft-rate-blue{
    display: flex;
    gap:5px;
    padding: 2px;
    align-items: center;
    border-radius: 5px;
    background-color: var(--blue-bg);
    align-self: start;
}
.tft-rate-blue i{
    font-size: 10px;
    color:var(--blue-text);
}
.tft-rate-blue p{
    font-size: 10px;
    color:var(--blue-text);
    font-weight: 600;
}
.tft-rate-yellow{
    display: flex;
    gap:5px;
    padding: 2px;
    align-items: center;
    border-radius: 5px;
    background-color: var(--yellow-bg);
    align-self: start;
}
.tft-rate-yellow i{
    font-size: 10px;
    color:var(--yellow-text);
}
.tft-rate-yellow p{
    font-size: 10px;
    color:var(--yellow-text);
    font-weight: 600;
}
.tft-rate-red{
    display: flex;
    gap:5px;
    padding: 2px;
    align-items: center;
    border-radius: 5px;
    background-color: var(--red-bg);
    align-self: start;
}
.tft-rate-red i{
    font-size: 10px;
    color:var(--red-text);
}
.tft-rate-red p{
    font-size: 10px;
    color:var(--red-text);
    font-weight: 600;
}
.tft-rate-orange{
    display: flex;
    gap:5px;
    padding: 2px;
    align-items: center;
    border-radius: 5px;
    background-color: var(--orange-bg);
    align-self: start;
}
.tft-rate-orange i{
    font-size: 10px;
    color:var(--orange-text);
}
.tft-rate-orange p{
    font-size: 10px;
    color:var(--orange-text);
    font-weight: 600;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              ANIMATION                                           */
/* ////////////////////////////////////////////////////////////////////////////////// */
/* Classes Reutilisables */
@keyframes eventAnimation {
  0% {
    transform: translate(0, 0) scale(1);
    filter: blur(2px);
    opacity: 1;
  }

  100% {
    transform: translate(100px, -500px) scale(3);
    filter: blur(2px);
    opacity: .8;
  }
}

@keyframes oddAnimation {
  0% {
    transform: translate(0px, 0px) scale(1);
    filter: blur(2px);
    opacity: 1;
  }

  100% {
    transform: translate(-100px, -500px) scale(3);
    filter: blur(2px);
    opacity: .8;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* =                              RESPONSIVE                                          */
/* ////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width:500px) {
 
}

@media only screen and (min-width: 280px) and (max-width: 1024px) {

}

@media screen and (max-width: 800px) {

}