<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1000saveurs</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <link rel="stylesheet" href="../../assets/css/tft-configStyles.css">
    <link rel="stylesheet" href="../../assets/css/responsiveStyles.css">
    <link rel="stylesheet" href="../../assets/fonts/feather/feather.css">
    <link rel="stylesheet" href="../../assets/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="containerAll">
        <!-- partie gauche -->
        <div class="containerLeft" id="container-left">
            <div class="c-left-header">
                <div class="tft-logo-avatar tft-bdr-greensav-1">
                    <img src="../../assets/images/icons/abonnes.png" alt="">
                </div>
                <p class="app-name tft-title1">1000<span class="tft-clr-orangesav">Saveurs</span></p>
            </div>
            <div class="menu">
                <div class="c-left-menu">
                    <a href="../views/dashboardpatron.html">
                        <div class="c-left-option">
                            <div class="tft-icon-round" onclick="showSidebar()">
                                <i class="fas fa-home"></i>
                            </div>
                            <p class="option-name">Dashboard</p>
                        </div>
                    </a>
                    <a href="../views/departements.html">
                        <div class="c-left-option">
                            <div class="tft-icon-round">
                                <i class="fas fa-sitemap"></i>
                            </div>
                            <p class="option-name">Départements</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="c-left-option">
                            <div class="tft-icon-round">
                                <i class="fas fa-chart-bar"></i>
                            </div>
                            <p class="option-name">Rapports</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="c-left-option">
                            <div class="tft-icon-round">
                                <i class="fas fa-users"></i>
                            </div>
                            <p class="option-name">Employés</p>
                        </div>
                    </a>
                    <div class="c-left-option">
                        <div class="tft-icon-round">
                            <i class="fas fa-bell"></i>
                        </div>
                        <p class="option-name">Notifications</p>
                    </div>
                    <div class="c-left-option">
                        <div class="tft-icon-round">
                            <i class="fas fa-cog"></i>
                        </div>
                        <p class="option-name">Parametres</p>
                    </div>
                </div>
                <div class="user-option">
                    <div class="tft-avatar-profil-petit tft-bdr-orangesav-2">
                        <img src="../../assets/images/icons/femme.jpg" alt="">
                    </div>
                    <div class="user-infos">
                        <div class="user-name">
                            <h2 class="tft-title4 tft-fw-600">Triphine IRIBAGIZA</h2>
                            <p class="tft-sm-title1">Patronne</p>
                        </div>
                        <div class="tft-icon-carre-moyen tft-bg-black3" onclick="deconnectionModal()">
                            <i class="fe fe-log-out tft-clr-red"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- partie centre -->
        <div class="containerCenter">
            <div class="c-center-header">
                <h2 class="tft-title1 tft-fw-600 tft-center tft-gap-10px">
                    <div class="tft-icon-carre tft-bdr-gris-1">
                        <i class="fas fa-bars"></i>
                    </div>
                    Dashboard</h2>
                <div class="header-aside">
                    <div class="tft-search-withIcon">
                        <input type="search" placeholder="Rechercher" class="tft-clr-white3">
                        <div class="tft-search-withIcon-icon tft-bg-greensav tft-clr-white3">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <div class="tft-users tft-bdr-gris-1">
                        <div class="tft-users-pics">
                            <div class="tft-user-pic tft-bdr-greensav-1">
                                <img src="../../assets/images/user/arashmil.jpg">
                            </div>
                            <div class="tft-user-pic tft-bdr-greensav-1">
                                <img src="../../assets/images/user/chadengle.jpg">
                            </div>
                            <div class="tft-user-pic tft-bdr-greensav-1">
                                <img src="../../assets/images/user/mlane.jpg">
                            </div>
                            <div class="tft-user-pic tft-bdr-greensav-1">
                                <img src="../../assets/images/user/sauro.jpg">
                            </div>
                            <div class="tft-user-pic tft-bdr-greensav-1">
                                <p class="tft-clr-white">+15</p>
                            </div>
                        </div>
                        <h4 class="tft-sm-title1 tft-bg-black1">Utilisateurs</h4>
                    </div>
                </div>
            </div>
            <div class="c-center-body">
                <div class="overview-cards">
                    <div class="overview-card tft-bg-yellow-bg">
                        <div class="icon-container tft-bdr-yellow-txt-1">
                            <div class="tft-icon-round-moyen tft-bg-yellow-bg">
                                <i class="fas fa-sitemap tft-clr-yellow-txt"></i>
                            </div>
                        </div>
                        <div class="card-info">
                            <h3 class="tft-title4">Départements</h3>
                            <p class="tft-title1 tft-fw-700 tft-clr-white">100</p>
                        </div>
                    </div>
                    <div class="overview-card tft-bg-green-bg">
                        <div class="icon-container tft-bdr-green-txt-1">
                            <div class="tft-icon-round-moyen tft-bg-green-bg">
                                <i class="fas fa-users tft-clr-green-txt"></i>
                            </div>
                        </div>
                        <div class="card-info">
                            <h3 class="tft-title4">Employés</h3>
                            <p class="tft-title1 tft-fw-700 tft-clr-white">100</p>
                        </div>
                    </div>
                    <div class="overview-card tft-bg-blue-bg">
                        <div class="icon-container tft-bdr-blue-txt-1">
                            <div class="tft-icon-round-moyen tft-bg-blue-bg">
                                <i class="fas fa-chart-bar tft-clr-blue-txt"></i>
                            </div>
                        </div>
                        <div class="card-info">
                            <h3 class="tft-title4">Rapports</h3>
                            <p class="tft-title1 tft-fw-700 tft-clr-white">100</p>
                        </div>
                    </div>
                    <div class="overview-card tft-bg-orangesav2">
                        <div class="icon-container tft-bdr-orangesav-1">
                            <div class="tft-icon-round-moyen tft-bg-orangesav2">
                                <i class="fas fa-users tft-clr-orangesav"></i>
                            </div>
                        </div>
                        <div class="card-info">
                            <h3 class="tft-title4">Dettes</h3>
                            <p class="tft-title1 tft-fw-700 tft-clr-white">100 000 fbu</p>
                        </div>
                    </div>
                </div>
                <div class="overview-container">
                    <div class="recent-actions">
                        <div class="single-action">
                            <div class="tft-icon-round-moyen tft-bg-greensav tft-bdr-white3-1">
                                <i class="fas fa-user tft-clr-white"></i>
                            </div>
                            <div class="actions-details">
                                <div class="action-info">
                                    <h3 class="tft-title3">Lania Ishimwe</h3>
                                    <p class="tft-sm-title1">Caissiere</p>
                                </div>
                                <p class="tft-title4 tft-clr-orangesav">Employé recent</p>
                            </div>
                        </div>
                        <div class="single-action">
                            <div class="tft-icon-round-moyen tft-bg-greensav tft-bdr-white3-1">
                                <i class="fas fa-chart-bar tft-clr-white"></i>
                            </div>
                            <div class="actions-details">
                                <div class="action-info">
                                    <h3 class="tft-title3">Lania Ishimwe</h3>
                                    <p class="tft-sm-title1">Serveur</p>
                                </div>
                                <p class="tft-title4 tft-clr-orangesav">Rapport recent</p>
                            </div>
                        </div>
                        <div class="single-action">
                            <div class="tft-icon-round-moyen tft-bg-greensav tft-bdr-white3-1">
                                <i class="fas fa-sitemap tft-clr-white"></i>
                            </div>
                            <div class="actions-details">
                                <div class="action-info">
                                    <h3 class="tft-title3">Lania Ishimwe</h3>
                                    <p class="tft-sm-title1">Serveur</p>
                                </div>
                                <p class="tft-title4 tft-clr-orangesav">Département recent</p>
                            </div>
                        </div>
                    </div>
                    <div class="recent-intro">
                        <h1 class="tft-clr-orangesav tft-title1">Découvrez les nouveautés dans <span class="tft-clr-orangesav">1000Saveurs</span></h1>
                        <div class="recent-pic">
                            <img src="../../assets/images/icons/illuHomme (1).png" alt="">
                        </div>
                        <div class="recent-pic-fleche">
                            <img src="../../assets/images/icons/illfleche.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- partie droite ajoute la classe active pour montrer-->
        <div class="containerRight">
            <!-- <h1>lania</h1> -->
        </div>
        <!-- popup de deconnexion -->
        <div class="tft-popup-modal" id="deconnection-modal">
            <div class="tft-popup-container-small tft-bg-black3 tft-p-relative">
                <div class="deconnection-actions">
                    <h3 class="tft-title1">Voulez-vous deconnecter ?</h3>
                    <div class="deconnection-options">
                        <a class="tft-btn tft-bg-red tft-clr-white" href="#">Oui</a>
                        <btn class="tft-btn tft-bg-greensav tft-clr-white" onclick="closeModal()">Non</btn>
                    </div>
                </div>
                <div class="tft-close-icon tft-p-absolute tft-top-5 tft-right-10 tft-hover-red" onclick="closeModal()">
                    <i class="fas fa-times tft-clr-white3"></i>
                </div>
            </div>
        </div>
        <!-- popup de deconnexion -->
    </div>
</body>
<script src="../../assets/js/scripts.js"></script>
</html>