<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1000saveurs</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <link rel="stylesheet" href="../../assets/css/tft-configStyles.css">
    <link rel="stylesheet" href="../../assets/fonts/feather/feather.css">
    <link rel="stylesheet" href="../../assets/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="containerAll">
        <!-- partie gauche -->
        <div class="containerLeft">
            <div class="c-left-header">
                <div class="tft-logo-avatar tft-bdr-greensav-1">
                    <img src="../../assets/images/icons/abonnes.png" alt="">
                </div>
                <p class="app-name tft-title1">1000<span class="tft-clr-orangesav">Saveurs</span></p>
            </div>
            <div class="menu">
                <div class="c-left-menu">
                    <a href="../views/dashboardpatron.html">
                        <div class="c-left-option">
                            <div class="tft-icon-round">
                                <i class="fas fa-home"></i>
                            </div>
                            <p class="option-name">Dashboard</p>
                        </div>
                    </a>
                    <a href="../views/departements.html">
                        <div class="c-left-option">
                            <div class="tft-icon-round">
                                <i class="fas fa-sitemap"></i>
                            </div>
                            <p class="option-name">Départements</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="c-left-option">
                            <div class="tft-icon-round">
                                <i class="fas fa-chart-bar"></i>
                            </div>
                            <p class="option-name">Rapports</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="c-left-option">
                            <div class="tft-icon-round">
                                <i class="fas fa-users"></i>
                            </div>
                            <p class="option-name">Employés</p>
                        </div>
                    </a>
                    <div class="c-left-option">
                        <div class="tft-icon-round">
                            <i class="fas fa-bell"></i>
                        </div>
                        <p class="option-name">Notifications</p>
                    </div>
                    <div class="c-left-option">
                        <div class="tft-icon-round">
                            <i class="fas fa-cog"></i>
                        </div>
                        <p class="option-name">Parametres</p>
                    </div>
                </div>
                <div class="user-option">
                    <div class="tft-avatar-profil-petit tft-bdr-orangesav-2">
                        <img src="../../assets/images/icons/femme.jpg" alt="">
                    </div>
                    <div class="user-infos">
                        <div class="user-name">
                            <h2 class="tft-title4 tft-fw-600">Triphine IRIBAGIZA</h2>
                            <p class="tft-sm-title1">Patron</p>
                        </div>
                        <div class="tft-icon-carre-moyen tft-bg-black3">
                            <i class="fe fe-log-out tft-clr-red"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- partie centre -->
        <div class="containerCenter">
            <div class="c-center-header">
                <h2 class="tft-title1 tft-fw-600">Départements</h2>
                <div class="heaader-aside">
                    <div class="tft-search-withIcon">
                        <input type="search" placeholder="Rechercher" class="tft-clr-white3">
                        <div class="tft-search-withIcon-icon tft-bg-greensav tft-clr-white3">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <div class="tft-users tft-bdr-gris-1">
                        <div class="tft-users-pics">
                            <div class="tft-user-pic tft-bdr-greensav-1">
                                <img src="../../assets/images/user/arashmil.jpg">
                            </div>
                            <div class="tft-user-pic tft-bdr-greensav-1">
                                <img src="../../assets/images/user/chadengle.jpg">
                            </div>
                            <div class="tft-user-pic tft-bdr-greensav-1">
                                <img src="../../assets/images/user/mlane.jpg">
                            </div>
                            <div class="tft-user-pic tft-bdr-greensav-1">
                                <img src="../../assets/images/user/sauro.jpg">
                            </div>
                            <div class="tft-user-pic tft-bdr-greensav-1">
                                <p class="tft-clr-white">+15</p>
                            </div>
                        </div>
                        <h4 class="tft-sm-title1 tft-bg-black1">Utilisateurs</h4>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- partie droite ajoute la classe active pour montrer-->
        <div class="containerRight">
            <!-- <h1>lania</h1> -->
        </div>
    </div>
</body>
</html>